
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

body {
  margin: auto;
  display: block;
}
header {
  width: 100%;
  height: 200px;
  position: relative;
  border-bottom: 1px solid black;
}

.header-background {
  float:left;
  width: 50%;
  height: 80%;
  background-color: black;
}
nav {
  float: left;
  width: 50%;
}

ul {
  width: inherit;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  margin: 0;
}

li{
  text-align: center;
  width: 30%;
  background-color: black;
  color: white;
  font-family: helvetica neue;
  letter-spacing: 2px;
  margin: 2px;

}
h1, h3 {
  text-align: center;
}
header h1 {
  text-align: center;
  position: relative;
  right: 24%;
  font-size: 50px;
}
span{
  color: white;
}

#container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 2%;
}

#questions {
  width: 50%;
  display: block;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#questions h1 {
  text-align: center;
}
.questions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1%;

}
.question {
  height: 150px;
  width: 100%;
  display: block;
  border: 1px solid black;
  margin-top: 10px;
  text-align: center;
}

#new-question {
  width: 20%;
  display: block;
  text-align: center;
}

#categories {
  width: 20%;
}

button {
  text-align: center;
}
.question-detail {
  margin: auto;
  display: block;
  width: 100%;
}
.question-detail-content{
  margin: auto;
  width: 50%;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.question-detail-content li {
  list-style-type: none;
  text-align: center;
  margin: auto;
  background-color: inherit;
  color: black;
}
.edits{
  width: 100%;
  margin-top: 5%!important;
  margin: auto;
  display: block;
  text-align: center;
}
.edits button {
  float: left;
  width: 33.333%;
  margin: auto;
  text-align: center;
}

.answers {
  box-shadow: 2px 2px 2px black:
}

.answerForm {
  display: block;
  margin: auto;
  margin-top: 2%!important;
  position: absolute;;
  left: 45%;

}
.answerForm button {
  display: block;
  margin: auto;
  text-align: center;
}

 h1 {
  text-align: center;
  margin: auto;

}
