<header class="cf">
  <div class="header-background">

  </div>
  <h1><span>Ember</span>Curious?</h1>
  <nav>
    <ul>
      <li>Home</li>
      <li>Topics</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>

<div id="container">
  {{outlet}}
</div>
