

<div id="new-question">
  {{new-question question = model.questions save="save"}}
</div>



<div id="questions">
  <h1>Latest Questions</h1>
  <div class="questions">
    {{#each model.questions as |question|}}
      {{question-tile question = question}}
    {{/each}}
  </div>
</div>


<div id="categories">
  <h1>Categories</h1>

</div>
