<h1>Welcome to Quora</h1>
<div id="questions">
  {{#each model.questions as |question|}}
    {{question-tile question = question}}
  {{/each}}
  {{new-question question = model.questions save="save"}}
</div>
